/* imporing the font from google fonts website */
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
/* css reset */
* {
    padding: 0;
    margin: 0;
    /* BOX SIZING:MARGIN AUR PADDING CHANGE KRNE SE WIDTH CHANGE AN HO ISLIYE USE HOTI HAII */
    box-sizing: border-box;
}
/* styling for whole html page */
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body{
	background:url(images/bg2.jpg);
}
/* style for every image */
img{
    height: 100%;
    width: 100%;
    /* object-fit property is used to specify how an <img> or <video> should be resized to fit its container. */
    object-fit: cover;

}
/* styling for all paragraphs */
p{
    font-size:1.4rem ;
    margin-top:5px ;
    line-height:2.5rem ;
    font-weight:300 ;
    letter-spacing: .05rem;
    color: rgb(0, 0, 0);
}
/* styling for anchor tag */
 a {
    /* remove the underline */
    text-decoration: none;
}
/* css for title of each section */
.section-title{
    font-size: 4rem;
    font-weight:300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
/* styling for span of each section title */
.section-title span{
    color: crimson;
}
/* css for our container*/
 .container {
    /* vh :vh ka matlab puri height/width le le */
    min-height: 100vh;
    width: 100%;
     /* use flexbox simply make display as flex */
    display: flex;
    /* boxes ko vertically center krne ke liye */
    align-items: center;
    /* boxes ko horizontally center krne ke liye */
    justify-content: center;
}
/* Header section */
/* targeting by id */
#header {
	/* stick to the top */
	position: fixed;
	/* to make the content visible */
	z-index: 1000;
	left: 0;
	top: 0;
	/* Relative to 1% of the width of the viewport* */
	width: 100vw;
	height: auto;
}
/* targeting by class */
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	/* shorthand for transition property */
	transition: .3s ease background-color;
}
/* targeting the navbar */
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/* targeting ul of navbar */
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
/* using active pseudo selector */
#header .nav-list ul.active {
	left: 0%;
}
/* targeting anchor tags of navigation bar */
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
/* after pseudoselector */
#header .nav-list ul a::after {
	/* to show same data in background afterwards */
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	/* transformation */
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
/* after pseudo pseudo selector */
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
/* for hamburger menu */
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
/* after hamburger is displayed */
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
/* css for bar of hamburger menu */
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
/* after hamburger bar is displayed */
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
/* using afterr pseudoselector */
#header .hamburger .bar::after {
	top: 8px;
}
/* using before pseudo selector */
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* styling of home section */
#hero{
    /* background image */
    background-image: url('/images/bg2.jpg');
    /* Resize the background image to cover the entire container */
    background-size: cover;
    /* on the top and center position */
    background-position: top center;
    /* relative:relative to its normal position agar purani position mei gap chahiye toh relative use hoga nhi toh absolute use hoga */
    position: relative;
    /* The z-index property specifies the stack order of an element. */
    z-index: 1;
}
 /* after pseudo selectors are used to insert the content before/after the section  */
#hero::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /* jisse content dikhe */
    opacity: 0.7;
    /* Because the image has a z-index of -1, it will be placed behind the heading. */
    z-index: -1;
}
/* css of heading of home section */
#hero h1{
    /* pura block occupy kar lo */
    width: fit-content;
    display: block;
    /* rem is a unit like pixel */
    font-size: 4rem;
    position: relative;
    color: transparent;
    /* animation applied on textreveal with a delay of .5sec and animation type is ease forwards after animation is over */
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
/* styling of portfolio button */

.cta{
    /* inline block dispaly mei height aur width set kar skte hai */
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    /* Transforms all characters of border to uppercase */
    text-transform: uppercase;
    /* The letter-spacing property increases or decreases the space between characters in a text. */
    /* rem is also a unit like px */
    letter-spacing: .1rem;
    /* margin for portfolio button from top */
    margin-top: 30px;
     /* duration before transition */
      /* transition kaise chale slow/fast */
    transition: .3s ease;
    /* transition is applied on which property of css (background colour,colour also) */
	transition-property: background-color, color;
}
/* css for hovering on portfolio button */
.cta:hover {
	color: white;
	background-color: crimson;
} 


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

#hero h1 span {
    /* parent position se move krna hai bina gap ko cover kiye */
	position: absolute;
    /* top aur left se kitna move krna hai */
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
     /* creating an animation using animation properties */
    /* animation is created with the help of keyframes */
    /* shorthand for animation */
    /* transition kaise chale slow/fast */
    /* duration before transition */
    /* apply animation on text reveal box */
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
/* creating transition for intro home with keyframes */
@keyframes text_reveal_box {
    /* when the transition is 50% complete do */
	50% {
		width: 100%;
		left: 0;
	}
	100% {
        /* when the transition is 100% complete do */
		width: 0;
		left: 100%;
	}
}
/* creating a another keyframe for text of textbox */
@keyframes text_reveal {
	100% {
		color: white;
	}
}
/* keyframe for colour of name is red */
@keyframes text_reveal_name {
	100% {
		color: crimson;
        /* font kitna mota ho */
		font-weight: 500;
	}
}
/* to make sequential strips in introduction */
 /* n-th child pseudo selector */
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
    /* animation for name */
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
/* targeting each heading separately for striping lines */
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* targeting hero class to make content of home center */
#hero .hero {
    /* max width can be 1200px */
	max-width: 1200px;
    /* margin auto for center */
	margin: 0 auto;
	padding: 0 50px;
    /* Items are positioned at the beginning of the container */
	justify-content: flex-start;
}
/* end of home section */

/* Academic Qualification Section */
/* targeting services class and services id */
#services .services {
/* The flexible items are displayed vertically, as a column */
	flex-direction: column;

	text-align: center;
	max-width: 1500px;
    /* for centering the content margin:auto */
	margin: 0 auto;
	padding: 100px 0;
}
/* css for heading of services */

/* css for span of services heading */

#services .service-top p {
	font-size:2.4rem ;
    margin-top:5px ;
    line-height:2.5rem ;
    font-weight:300 ;
    letter-spacing: .05rem;
    color: black;

}
#services .service-top{
	width: 500px;
	max-width: 0 auto;
}
/* styling the cards of academic qualifications */
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
    /* The flex-wrap property specifies whether the flexible items should wrap or not. */
	flex-wrap: wrap;
	margin-top: 50px;
}
/* now targeting individual service item */
#services .service-item {
    /* The flex-basis property specifies the initial length of a flexible item. */
	flex-basis: 80%;
	display: flex;
    /* Items are positioned at the beginning of the container */
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./images/img-1.png);
    /* Resize the background image to cover the entire container,  */
	background-size: cover;
	margin: 10px 5%;
	position: relative;
    /* The z-index property specifies the stack order of an element. */
	z-index: 1;
    /* The overflow property specifies what should happen if content overflows an element's box. */
    /* The overflow is clipped, and the rest of the content will be invisible */
	overflow: hidden;
}
/* A CSS pseudo-element is used to style specified parts of an element. */
/* The ::after pseudo-element can be used to insert some content after the content of an element. */
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    /* to make the content lighter */
	opacity: .9;
    /* to make the content visible */
	z-index: -1;
}
/* icons chota krna */
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
/*CSS FOR STYLING OF ACADEMIC QUALIFICATIONS  */
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
/* styling the right image coloum */
#services.service-bottom.icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
/* css for text of cards */
#services .service-item p {
	color: white;
    text-align: left;
	
}
/* End Services Section */


/* languages section */

/* Academic Qualification Section */
/* targeting services class and services id */
#languages .languages {
	/* The flexible items are displayed vertically, as a column */
		flex-direction: column;
	
		text-align: center;
		max-width: 1500px;
		/* for centering the content margin:auto */
		margin: 0 auto;
		padding: 100px 0;
	}
	/* css for heading of services */
	
	/* css for span of services heading */
	
	#languages .language-top p {
		font-size:2.4rem ;
		margin-top:5px ;
		line-height:2.5rem ;
		font-weight:300 ;
		letter-spacing: .05rem;
		color: black;
	
	}
	#languages .language-top{
		width: 500px;
		max-width: 0 auto;
	}
	/* styling the cards of academic qualifications */
	#services .service-bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		/* The flex-wrap property specifies whether the flexible items should wrap or not. */
		flex-wrap: wrap;
		margin-top: 50px;
	}
	/* now targeting individual service item */
	#languages .language-item {
		/* The flex-basis property specifies the initial length of a flexible item. */
		flex-basis: 80%;
		display: flex;
		/* Items are positioned at the beginning of the container */
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding: 30px;
		border-radius: 10px;
		background-image: url(./images/img-1.png);
		/* Resize the background image to cover the entire container,  */
		background-size: cover;
		margin: 10px 5%;
		position: relative;
		/* The z-index property specifies the stack order of an element. */
		z-index: 1;
		/* The overflow property specifies what should happen if content overflows an element's box. */
		/* The overflow is clipped, and the rest of the content will be invisible */
		overflow: hidden;
	}
	/* A CSS pseudo-element is used to style specified parts of an element. */
	/* The ::after pseudo-element can be used to insert some content after the content of an element. */
	#languages .language-item::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
		/* to make the content lighter */
		opacity: .9;
		/* to make the content visible */
		z-index: -1;
	}
	/* icons chota krna */
	#languages .language-bottom .icon {
		height: 80px;
		width: 80px;
		margin-bottom: 20px;
	}
	/*CSS FOR STYLING OF ACADEMIC QUALIFICATIONS  */
	#languages .language-item h2 {
		font-size: 2rem;
		color: white;
		margin-bottom: 10px;
		
	}
	/* styling the right image coloum */
	#languages.language-bottom.icon{
		height: 80px;
		width: 80px;
		margin-bottom: 20px;
	}
	/* css for text of cards */
	#languages .language-item p {
		color: white;
		text-align: left;
		
	}
	/* End languages Section */
	

/* Projects section */
/* targeting project id and project class */
#projects .projects {
    /* The flexible items are displayed vertically, as a column */
	flex-direction: column;
    /* maximum width can be 1200px */
	max-width: 1200px;
    /* to bring to center */
	margin: 0 auto;
	padding: 100px 0;
}
/* styling for heading of project section */
#projects .projects-header h1 {
    /* The margin-bottom property sets the bottom margin of an element. */
	margin-bottom: 50px;
}
/* for all the projects present */
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/* targeting individual items of the project */
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
/* css for information of the project */
#projects .project-info {
	padding: 30px;
    /* The flex-basis property specifies the initial length of a flexible item. */
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
    /* background image in project info */
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
/* css for heading of project info class */
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
/* css for heading of project info class */
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
/* css for paragraphs of project info class */
#projects .project-info p {
	color: white;
}
/* css for image of project info class */
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
/* using after pseudo selector what happens on the image after  */
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
/* css for images under project image */
#projects .project-img img {
    /* This property allows you to rotate, scale, move, skew, etc., elements. */
    /* behaviour,timing of transition */
	transition: .3s ease transform;
}
/* css for hovering over the project image */
#projects .project-item:hover .project-img img {
    /* Defines a 2D scale transformation */
	transform: scale(1.1);
}
/* css for project link */
.project-info a{
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
     border-radius: 15px;
     color: white;
     background-color: crimson;
}
/* End Projects section */

/* About Section */
/* styling of about section */
#about .about {
	/* Same as column, but in reverse order */
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
/* css for the image section */
#about .col-left {
	width: 250px;
	height: 360px;
}
/* css for text section */
#about .col-right {
	width: 100%;
}
/* h2 of about section */
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
/* css for paragraph of about section */
#about .col-right p {
	margin-bottom: 20px;
	color: red;
	font-weight: bold ;
}
/* css for button section */
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
/* for red wrapping across the image */
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
/* after wrapping the image using pseudo selectors */
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* ........................................................................................ */
/* contact Section */
/* tageting class and id contact */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	/* margin auto to bring in center */
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	/* styling different contact items */
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* The box-shadow property attaches one or more shadows to an element. */
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
/* css for hovering on the contact section */
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
} 
/* css for icons of contact info */
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
/* styling the headings of differerent sections */
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
 /* styling the headings of differerent sections */ 
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: red;
}
/*End contact Section */
/* Footer */
/* background omage colour for footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
/* css for footer class and id */
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	/* padding from top and bottom */
	padding-top: 50px;
	padding-bottom: 10px;
}
/* css for heading of footer */
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* css for footer icons */
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
/* css for different footer icons */
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
/* css for images of footer icons */
#footer .social-item img {
	/* The filter property defines visual effects (like blur and saturation)  */
	filter: grayscale(1);
	transition: .3s ease filter;
}
/* what happens on hoverio=ng over social icon */
#footer .social-item:hover img {
	filter: grayscale(0);
}
/* paragraph of footer css */
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Media Query For Tablet */
/* <!-- media queries is a way to make websites responsive --> */
    /* <!-- media query jab trigger hogi jab koi specific action perform ho jyega page mei --> */
	/* Used for computer screens, tablets, smart-phones etc. */
@media only screen and (min-width: 768px) {
	/* media query for cta class */
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
		/* media query for h1 of section title class  */
	h1.section-title {
		font-size: 6rem;
	}
	/* media query for home section */

	/* for h1 of hero class */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	/* media queries for service section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Media query for Project section */
	#projects .project-item {
		flex-direction: row;
	}
	/* nth pseudo selector */
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	/* media query for different project items */
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	/* media query for all projects */
	#projects .all-projects .project-info {
		height: 100%;
	}
	/* media query for images of all projects */
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About Media Queries */
	#about .about {
		flex-direction: row;
	}
	/* media query for image of about */
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	 /* media query for image of about */
	  /*after pseudo selector  */
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	/* media query for image of about section */
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	/* media query for image heading of about section */
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  Section media queries  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	/* contact  Section media queries  for different contact us items */
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	/* contact  Section media queries  for different contact us items */
	
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	/* contact  Section media queries  for different contact us icons */
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	/* contact  Section media queries  for different contact us icons images */
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
	/* targeting service bottom service item */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
